body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #00bbff;
    color: white;
    padding: 1rem 0;
    text-align: center;
}
main {
    padding: 2rem;
}
h1, h2 {
    text-align: center;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    background: white;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
p {
    background: white;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

a {
    color: purple;
    text-decoration: none; 
}

a:hover {
    color: cyan; 
    text-decoration: underline; 
}

body.dark-mode {
    background-color: #3d3d3d;
    color: #ffffff;
}

body.dark-mode li {
    background: #606060;
}

body.dark-mode a {
    color: #00bbff;
}

body.dark-mode a:hover {
    color: #aa00ff;
}

body.dark-mode header {
    background-color: #5c5c5c;
    color: white;
}
